<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parent Suite">
   <listeners>
      <listener class-name="com.karna.Listeners.TestListener"/>
      <listener class-name="com.karna.Listeners.SuiteListener"></listener>
   </listeners>
   <suite-files>
      <suite-file path="suite1.xml"></suite-file>
      <suite-file path="suite2.xml"></suite-file>
   </suite-files>
</suite> <!-- Suite -->